.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.login-card {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.password-wrapper {
    position: relative;
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

 @media (max-width: 576px) {
        .card {
            padding: 1rem !important;
        }

        .login-container {
            padding: 0.5rem;
        }
    }